body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
#nav
{
  background-color: aquamarine;
}
/* #crausel
{
  height: 500px;
 
} */
#car
{
  height: 500px;
  display: flex;
  background-size: cover;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
  #card
 {
  max-height: 200px;
  background-size: cover; 
  
}  
#sign
{
  color: whitesmoke;
}
#card
{
  background-color: black;
 
}
#xyz{
  margin-top: 1px;
  margin-left:  1px;
  margin-bottom:  1px;
  margin-right:  1px;
}